<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link href="https://cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/index.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="../public/js/index.js"></script>
</head>
<body>
    <div class="container">
        <h3>welcome to my git</h3>
    </div>
    <div class="container main">
        <form class="form-inline">
          <div class="form-group col-xs-12">
            <label for="">branch name</label>
            <input type="text" class="form-control" id="branchName" placeholder="branchName">
          </div>
          <div class="form-group col-xs-12">
            <button type="button" class="btn btn-default submit">Submit</button>
          </div>
        </form>
    </div>
    
</body>
</html>